---
- name: Install software on popular distributions
  hosts: all
  become: true

  tasks:
    - name: Show detected system info
      debug:
        msg: "Detected system: {{ ansible_distribution }} (family: {{ ansible_os_family }})"

    - name: Include OS-specific variables
      include_vars: "{{ item }}"
      with_first_found:
        - "vars/{{ ansible_distribution }}.yml"
        - "vars/{{ ansible_os_family }}.yml"
        - "vars/default.yml"

    - name: Install development tools
      package:
        name:
          - "{{ git_package }}"
          - "{{ docker_package }}"
          - "{{ python_package }}"
        state: present

    - name: Verify Git installation
      command: git --version
      register: git_version
      changed_when: false

    - debug:
        msg: "Installed Git version: {{ git_version.stdout }}"
