---
- name: Install software on popular distributions
  hosts: all
  become: true

  tasks:
    - name: Show detected system info
      debug:
        msg: "Detected system: {{ ansible_distribution }} (family: {{ ansible_os_family }})"

    - name: Include OS-specific variables
      include_vars: "{{ item }}"
      with_first_found:
        - "vars/{{ ansible_distribution }}.yml"
        - "vars/{{ ansible_os_family }}.yml"
        - "vars/default.yml"

    - name: Install required packages
      package:
        name: "{{ item.value.name }}"
        state: present
      loop: "{{ software | dict2items }}"
      loop_control:
        label: "{{ item.key }}"

    - name: Verify installed software
      command: "{{ item.value.verify }}"
      register: verify_result
      changed_when: false
      failed_when: verify_result.rc != 0
      loop: "{{ software | dict2items }}"
      loop_control:
        label: "{{ item.key }}"

    - name: Show verification output
      debug:
        msg: "{{ item.item.key }} => {{ item.stdout }}"
      loop: "{{ verification_results.results }}"
      loop_control:
        label: "{{ item.item.key }}"

