---
- name: Install software on popular distributions
  hosts: all
  become: true

  tasks:
    - name: Show detected system info
      debug:
        msg: "Detected system: {{ ansible_distribution }} (family: {{ ansible_os_family }})"

    - name: Include OS-specific variables
      include_vars: "{{ item }}"
      with_first_found:
        - "vars/{{ ansible_distribution }}.yml"
        - "vars/{{ ansible_os_family }}.yml"
        - "vars/default.yml"

    - name: Install packages on RedHat family using dnf
      ansible.builtin.dnf:
        name: "{{ item.value.name }}"
        state: present
        use_backend: dnf
      loop: "{{ software | dict2items }}"
      loop_control:
        label: "{{ item.key }}"
      when: ansible_os_family == "RedHat"

    - name: Install packages on Debian family using apt
      ansible.builtin.apt:
        name: "{{ item.value.name }}"
        state: present
        update_cache: yes
      loop: "{{ software | dict2items }}"
      loop_control:
        label: "{{ item.key }}"
      when: ansible_os_family == "Debian"

    - name: Install packages on Arch family using pacman
      ansible.builtin.pacman:
        name: "{{ item.value.name }}"
        state: present
        update_cache: yes
      loop: "{{ software | dict2items }}"
      loop_control:
        label: "{{ item.key }}"
      when: ansible_os_family == "Archlinux"

    - name: Gather the package facts
      ansible.builtin.package_facts:
        manager: auto

    - name: Show installation status using package facts
      ansible.builtin.debug:
        msg: "{{ item.key }} => {{ 'INSTALLED' if item.value.name in ansible_facts.packages else 'NOT INSTALLED' }}"
      loop: "{{ software | dict2items }}"
      loop_control:
        label: "{{ item.key }}"